<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>

<nav>
    <ul>
        <li><a href="/garantia">Garantia</a></li>
        <li><a href="/politicacalidad">Politica de Calidad</a></li>
        <li><a href="/reclamos">Reclamos</a></li>
    </ul>
</nav>